<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logDebug" value="1" />
    <add key="timer" value="1" />
    <add key="APIURL" value="http://*:8871" /> 
    <add key="LogFilePath" value="C:\IDOL\ZATCA\LOG\" />
    <add key="private_key_path" value="C:\IDOL\ZATCA\files\ec-secp256k1-priv-key.pem" />
    <add key="cert_pem_path" value="C:\IDOL\ZATCA\files\cert.pem" />
    <add key="ICV_PIH_file" value="C:\IDOL\ZATCA\files\ICV_PIH.txt" />
    <add key="invoiceXML_folder" value="C:\IDOL\ZATCA\files\invoiceXML\" />
    <add key="resources_path" value="C:\IDOL\ZATCA\files\resources\" />
    <add key="partyTaxSchemeCompanyId" value="partyTaxSchemeCompanyId" /> 
    <add key="JobZatca_check_files_from_Stores_minutes" value="30" />
    <add key="JobZatca_RETRY_reporting_minutes" value="60" />
    <add key="JobZatca_reporting_timer_inSec" value="5" /> 
    <add key="JobZatca_reporting_timer_FileCount" value="50" /> 
    <add key="JobZatca_B2C_FTP_inSec" value="30" /> 
    <add key="xml_upload_ftp_ip_port" value="10.217.109.10:21" /> 
    <add key="xml_upload_ftp_username" value="ZatcaAdminFTP" /> 
    <add key="xml_upload_ftp_password" value="9933q1Mk" /> 
    <add key="xml_upload_ftp__destination_fpath" value="" /> 
    <add key="CustIdentifier" value="2" />  <!-- 0-C,1-F,2-V-->
    <add key="is_localServer" value="NO" /> 
    <add key="Environment" value="PRODUCTION" /><!--PRODUCTION ,SIMULATION-->

    <add key="proxy" value="" /> 
    <add key="clearlogfiledays" value="15" />
   
    
    <add key="EnableAlertEmail" value="true" />
    <add key="fromEmail" value="zatcafarm@farm.com.sa" />
    <add key="toEmails" value="B2C ziyad.swilem@farm.com.sa;B2B mohammed.farooque@farm.com.sa;ALL roopa@idol-mea.com" />
    <add key="EmailPassword" value="Farm@Zat#123" />
    <add key="MailHost" value=" farm-com-sa.mail.protection.outlook.com" />
    <add key="MailPort" value="25" />

    <add key="B2B_Clearance_API" value="https://gw-fatoora.zatca.gov.sa/e-invoicing/simulation/invoices/clearance/single1" /> 
    <add key="Reporting_API" value="https://gw-fatoora.zatca.gov.sa/e-invoicing/simulation/invoices/reporting/single" /> 
  </appSettings>

  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=HP-PROBOOK;Initial Catalog=ZATCA; User ID=sa;Password=Abc123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="ConStrCustomerVAT" connectionString="Data Source=HP-PROBOOK;Initial Catalog=VATDB; User ID=sa;Password=Abc123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

 